body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(28, 28, 28);
    font-family: 'Open Sans',sans-serif;
    top: 200px;
}
h2{
    position: absolute;
    top: 175px;
    right:0;
    bottom:0;
    left:0;
    height: 40px;
    margin:auto;
    color: white;
    text-align: center;
    
}
.impge-up-father{
    position: relative;
}
.image-all{
    position: absolute;
    top:600px;
    right:0;
    bottom:0px;
    left:0;
    margin:auto;
    height: 400px;
    /* background-color: black; */
}
.image-up{
    position: absolute;
    top:0px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    height: 300px;
    width: 500px;
    background-color: darkslategrey;
    border-radius: 5px;
}
.image-true-up{
    position: absolute;
    top:0px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    height: 300px;
    width: 500px;
}
.image-up .cloud-father{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    height: 100px;
    width: 180px;
    border: 1px white dashed;
    border-radius: 5px;
}
.image-up i{
    padding: auto;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height: 300px;
    width: 500px;
    margin:auto;
    text-align: center;
    line-height: 300px;
    font-size: 36px;
    color: white;
}
.image-up .text{
    padding: auto;
    position: absolute;
    top:240px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    color: white;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    height: auto;
    background-color: #2c2f34;
}
.image-up .text .btnUp{
    display: inline-block;
    color: #333;
    padding: 2px 8px;
    margin: 0 5px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom,#e0e0e0,#b7b7b7);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    line-height: 17px;
}
.image-up .text .btnUp:hover{
    cursor: pointer;
}
.image-up span{
    line-height: 60px;
}
.your-image-text-none{
    display: none;
}
.your-image-btn-none{
    display: none;
}
.your-image-text{
    padding: 7px 12px;
    background-color: black;
    border: 1px solid #2c2f34;
    border-radius: 3px 0 0 3px;
    line-height: normal;
    color: white;
    border-right: none;
    font-size: 1rem;
}
.your-image-text:focus{
    outline: none;
}
.your-image-btn{
    display: inline-block;
    color: #f2f2f2;
    background-color: #2c2f34;
    border: none;
    padding: 6.5px 12px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #2c2f34;
    font-size: 1rem;
}
.your-image-btn:focus{
    outline: none;
}
.your-image-btn:hover{
    background-color: darkslategrey;
    cursor: pointer;
}
.your-image{
    color: white;
    padding: auto;
    position: absolute;
    top: 360px;
    right:0;
    bottom:0;
    left:0;
    margin:0;
    text-align: center;
    height: 34px;
}
.image-father{
    padding: auto;
    position: absolute;
    top: 43px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align: center;
}
.image{
    max-width: 1600px;
    max-height: 800px;
}
@keyframes imageHover{
    0% {background-color:darkslategrey;}
    30% {background-color:rgba(40,40,40,1);}
    100% {background-color:rgb(28, 28, 28)}
}
@keyframes imageHoverNone{
    0% {background-color:rgb(28, 28, 28);}
    30% {background-color:rgba(47,79,79,0.8);}
    100% {background-color:darkslategrey;}
}
@keyframes iconHover{
    0% {font-size: 36px}
    40% {font-size: 204px}
    100% {font-size: 256px}
}
@keyframes iconHoverNone{
    0% {font-size: 256px}
    40% {font-size: 84px}
    100% {font-size: 36px}
}
.text span button{
    margin-top: 5px;
}
.backgroup-none{
    display: none;
}
.backgroup{
    position: fixed;
    height: 100%;
    width: 100%;
}
@keyframes backgroupColor{
    0% {background-color:rgba(0,0,0,0);}
    30% {background-color:rgba(0,0,0,0.6);}
    100% {background-color:rgba(0,0,0,0.8);}
}
@keyframes backgroupColorNone{
    0% {background-color:rgba(0,0,0,0.8);}
    30% {background-color:rgba(0,0,0,0.2);}
    100% {background-color:rgba(0,0,0,0);}
}
.fountainG-none{
    display: none;
}
#fountainG{
	position:relative;
	width:234px;
    height:28px;
    top: 50vh;
	margin:auto;
}
.fountainG{
    padding: auto;
    position: absolute;
    top:0px;
    right:0;
    bottom:0;
    left:0;
	background-color:rgb(0,0,0);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}